* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   
@keyframes aparecer {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

:root{
    --main-font: "Audiowide", sans-serif;
    --main-weight: 400;
    --main-style: normal;

    --brand-color: #27b3a8;

}

body{
    background-image: url('../images/main_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 2vh;
    
    display: flex;
    align-content:center;
    align-items: center;
    flex-direction: column;
}

.acount_a{
    margin-left: auto;
}


.conteiner_register_button{
    width: 100%;
    display: flex;
    justify-content: left;
}
.text_conteiner{
    animation: aparecer 0.8s ease-in-out forwards;
    display: flexbox;
    align-content: top;
    height: 60vh;
    padding: 4vh
}
.header_main{
    display: flex;
    align-items: center;
    justify-content: left;
    
    animation: aparecer 0.8s ease-in-out forwards;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    padding: 3vh;
    height: 15vh;
    width: 100%;
 
}

.img{
    width: 10vh;
    height: 10vh;
    margin: 1vh;
}

.img-social-media{
    width: 4vh;
    height: 4vh;
}

.buton_generic{

    border-radius: 15px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 2.5vh;
    padding: 10px;
    width: 25vh;
    height: 6vh;
    background-color: #5f9ea0;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 1vh;

    display: flex;
    justify-content: center;
    align-items: center;
 

}   
.buton_generic:hover{

    background-color: aquamarine;
    width: 26vh;
    height: 6.5vh;

}

.text_generic{
    
    padding: 0.5vh;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

}

.text_generic--h1{

    font-size: 8vh;


}

.text_generic--h2{
    font-size: 6vh;

}

.text_generic--h3{
    font-size: 6vh;

}

.text_generic--p{
    font-size: 3vh;

}