@import url('stylesheet_main.css');

*{
    padding: 0;
    margin: 0;
    border: 0;


}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--brand-color);
    background: radial-gradient(var(--brand-color), #1b6f69);
}




.container_formulary{
    animation: aparecer 0.8s ease-in-out forwards; /*Animacion cuando carga la pagina de aparecer importada de Stylesheet_main*/
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    border-radius: 40px ;
    padding: 3vh;
    margin: 1vh;
    translate: 0px -20px;

    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.8);

    translate: 0px 50px;

}

.container_formulary h1{
    margin: 1.5vh;
}



.container_label{
    width: 100%;
    display: flex;
    justify-content: space-between; /*deja el primer elemento pegado a la izquierda y el último a la derecha, el resto del espacio queda en medio.*/
    align-items: center;
    flex-direction: row;
}




.img_logo_login{

    width: 20vh;
    height: 20vh;
    translate: 0px 30px;
    animation: aparecer 0.8s ease-in-out forwards;
}

.formluary_form{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 2.5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 2vh;
    padding: 2vh;
    
}

.button_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1.5vh;
}

.formluary_form label{
    align-self: flex-start;
}

.input_generic{
    margin: 1vh;
    width: 100%;
    height: 4vh;
    padding: 1vh;

    border: none;
    border-bottom: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    outline: none;

    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    transition: all 0.4s ease;
}

.input_generic:focus{
    border-color: var(--brand-color);
    box-shadow: 0 0 8px rgba(39, 179, 168, 0.7);
}

.a_generic{
    color: aquamarine;
    text-decoration: none;
    transition: all 0.3s ease;
}
.a_generic:hover{
    color: aqua;
    font-size: 2.6vh;

}

.a_generic--forget-password{
    font-size: 2.2vh;

}

.a_generic--forget-password:hover{
    font-size: 2.3vh;
}



.text_generic--h1{
    
    font-size: 6vh;
}

.buton_generic{
    color: #222;
}
.buton_generic:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}